&i2c0 {
    mpu6886: mpu6886@68 {
        compatible = "invensense,mpu6886";
        reg = <0x68>;
        status = "okay";
    };
};

&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s0_default>;
    pinctrl-names = "default";
    #address-cells = <1>;
    #size-cells = <0>;

    es8156: codec@0 {
        compatible = "everest,es8156";
        reg = <0>;
    };
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&pinctrl {

	uart1_default: uart1_default {
		group1 {
			pinmux = <UART1_TX_GPIO32>,
					 <UART1_RX_GPIO33>;

			bias-pull-up;
		};
	};

	i2s0_default: i2s0_default {
		group1 {
			pinmux = <I2S0_O_WS_GPIO0>,   /* LRCK */
					<I2S0_O_BCK_GPIO12>, /* BCLK */
					<I2S0_O_SD_GPIO2>;   /* SADTA */
			output-enable;
        };
    };
};


/ {

	aliases {
		u1 = &uart1;
		i2s-tx = &i2s0;
	};

	chosen {

		zephyr,console = &uart2;
		zephyr,shell-uart = &uart2;
	};

	bus_5v: bus_5v {
		compatible = "regulator-fixed";
		regulator-name = "bus_5v";
		enable-gpios = <&axp192_gpio 5 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
	};

};
